<div class="ddb-entity-card vehicle-card {{#if isInline}}card-inline{{/if}}">
  <div class="card-header">
    <div class="card-title-group">
      <h3 class="card-title">{{#if properties.name}}{{properties.name}}{{else if name}}{{name}}{{else}}{{display_name}}{{/if}}</h3>
      <span class="card-subtitle">Vehicle{{#if properties.dimensions}} &bull; {{properties.dimensions}}{{/if}}</span>
    </div>
    <span class="card-badge red">AC {{properties.armorClass}} &bull; {{properties.hitPoints}} HP</span>
  </div>

  <div class="card-stats-row">
    <div class="card-stat-item">
      <strong>Speed:</strong>
      <span>{{#if properties.speed.speed}}{{properties.speed.speed}} ft.{{else if properties.speed.pace}}{{properties.speed.pace}}{{else}}&mdash;{{/if}}</span>
    </div>
    {{#if properties.cargoCapacity}}
    <div class="card-stat-item">
      <strong>Cargo:</strong>
      <span>{{properties.cargoCapacity}} tons</span>
    </div>
    {{/if}}
    {{#if properties.damageThreshold}}
    <div class="card-stat-item">
      <strong>Threshold:</strong>
      <span>{{properties.damageThreshold}}</span>
    </div>
    {{/if}}
  </div>

  {{#if properties.actions}}
  <div class="card-tags">
    {{#each properties.actions}}
    <span class="card-tag">{{this.name}}</span>
    {{/each}}
  </div>
  {{/if}}
</div>
