<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.majinnaibu.monstercards">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MonsterCardsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.App.Starting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">

            <!-- Intent filter for viewing/opening content:// URIs with binary/octet-stream MIME type (.monster) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <!-- Intent filter for file:// URIs ending in .monster, .monster.txt, .card, or .card.txt -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" android:host="*" />
                <data android:pathPattern=".*\\.monster" />
                <data android:pathPattern=".*\\.monster\\.txt" />
                <data android:pathPattern=".*\\.card" />
                <data android:pathPattern=".*\\.card\\.txt" />
                <data android:pathPattern=".*\\.binder" />
                <data android:pathPattern=".*\\.binder\\.txt" />
            </intent-filter>

            <!-- Intent filter for explicitly sharing files/text to Monster Cards -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <!-- Intent filter for viewing dndbeyond.com character URLs directly in Monster Cards -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.dndbeyond.com" />
                <data android:host="dndbeyond.com" />
                <data android:pathPrefix="/characters/" />
            </intent-filter>

            <nav-graph android:value="@navigation/mobile_navigation" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.majinnaibu.monstercards.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
