.artifacts
.gradle
.idea/appInsightsSettings.xml
.idea/caches
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/gradle.xml
.idea/markdown.xml
.idea/migrations.xml
.idea/planningMode.xml
.idea/studiobot.xml
.idea/workspace.xml
.DS_Store
.externalNativeBuild
.cxx
*.iml
build
captures
local.properties
